{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Income Expense</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{% static  'IncomeExpense.js' %}"></script>
    </head>
    <body onload="load_charts({{ExpenseData}},{{IncomeData}})">
        <h1>Income Expense Monitor</h1>
        <input type="number" id="Exp_amnt" name="eamnt"placeholder="Expense Amount" ><button value="" onclick="add_Expense()">Add Expense</button>
        <input type="number" id="Inc_amnt" name="iamnt" placeholder="Income amount"><button value="" onclick="add_Income()">Add Income</button>
        <input type="text" id="date" name="Date" placeholder="From date"><button value="" onclick="add_expense()">Show from</button>
        {% csrf_token %}
        <p id="avg"></p>
        <div id="graph"></div>
        <br>
        <div id="igraph"></div>
        
        
    </body>
</html>
